/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Aug 2020, 09:59:16
    Author     : Tomousee
*/

body{
    background-color: gainsboro;
}

.screen{
    width: 328px; /* 40pc of iPhone11 res */
    padding: 8px;
    margin: 0px auto;
    background-color: white;
    border: 3px gray;
}

#iphone{
    height: 648px; /* 716 - 56 - 12*/
}

#iphone-top{
    height: 56px;
    border-radius: 12px 12px 0px 0px;
}

#iphone-bottom{
    padding: 0px 8px 0px 8px;
    height: 6px;
    border-radius: 0px 0px 12px 12px;
    background-color: green;
}

#demo{
    margin-top: 30px;
}